{% extends "index.html" %}


{% block menu %}

<div class="menu">

    <a href="{{ url_for('notes') }}">My notes</a> |
    <a href="{{ url_for('index') }}">Home</a>

</div>

{% endblock %}


{% block content %}

<form action="#" method="post">

    <div class="title">
        <input type="text" name="title" placeholder="Title">
    </div>

    <div class="text_field">
        <textarea name="text" placeholder="Your thoughts"></textarea>
    </div>

    <div class="button">
        <button>Publish</button>
    </div>

</form>

{% endblock %}